html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-size: 1rem;
}
html {
    background-color: white;
}
.red, .green, .orange {
    font-weight: 700;
}
.red {
    color: crimson;
    font-weight: 700;
}
.green {
    color: green;
}
.orange {
    color: darkorange;
}
.w-full {
    width: 100%;
}
.noRate {
    color: red;
}

.rate {
    color: green
}
.rating_quick_view {
    border-collapse: collapse;
    text-align: center;
}
.disabled {
    color: grey;
}
ul, li {
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: unset;
}
.container {
    display: block;
    margin: auto;
    width: 100%;
}
h1 {
    text-align: center;
}
.basicDisplay {
    padding: 1rem;
    background-color: white;
}
.add {
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.add .warning {
    width: 100%;
    text-align: center;
}
.list {
    border: 1px solid black;
    width: 90%;
    margin: auto;
    position: relative;
    padding-top: 0.5rem;
    height: 24rem;
    overflow-y: scroll;
}
.listItem {
    display: inline;
}
.listItem > div {
    display: flex;
    padding: 0.5rem 1rem;
}
.listItemLeft {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.display-input input, button {
    width: 45%;
    margin: auto;
}
.mt-4 {
    margin-top: 1rem;
}
.headerList {
    margin: 1rem auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.headerList .headerLeft, .headerList .headerRight {
    margin: 1rem auto;
    width: 45%;
    display: flex;
}
.headerList .headerLeft {
    justify-content: space-around;
    justify-items: center;
}
.headerList .headerLeft a svg {
    vertical-align: bottom;
}
.rating_quick_view tr td, .rating_quick_view tr th {
    border: 1px solid black;
}
.headerList .headerRight {
    justify-content: flex-end;
    flex-wrap: wrap;
    text-align: center;
}
.headerList .headerRight .btn {
    margin: 1rem auto 0 auto;
}
.headerList .headerRight a {
    margin-right: 0.5rem;
}
.headerList input {
    width: 60%;
}
.headerList svg {
    vertical-align: middle;
}
.headerList .headerCenter {
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
}
.headerList p {
    margin-block-start: 0;
    margin-block-end: 0;
    width: 100%;
    display: block;
}
.headerList .headerCenter button {
    display: block;
    width: 80%;
    margin: 0 auto 1rem auto;
}
.listItemRight {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.listItemRight a {
    margin-right: 0.5rem;
}
.listItemRight a svg {
    vertical-align: middle;
}
.basicAlertDisplay {
    width: 100vw;
    height: 100vh;
    padding-top: 10%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.basicAlertDisplay .alertBox {
    width: 24rem;
    max-width: 100%;
    margin: auto;
    border-radius: 2.5rem;
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    height: auto;
}
.little {
    min-height: 8rem;
    max-height: 100%;
}
.middle {
    min-height: 12.5rem;
}
.basicAlertDisplay .alertBox .headerBox, .basicAlertDisplay .alertBox .footerBox {
    width: 80%;
    margin: auto;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footerBox {
    margin-top: 5rem;
    padding: 1rem 0;
}
.alertBox .headerBox .rating {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}
.alertBox .headerBox .rating td {
    text-align: center;
    border: 1px solid black;
}
.basicAlertDisplay .alertBox p, .basicAlertDisplay .alertBox h1 {
    margin-block: 0;
    text-align: center;
    width: 100%;
}
.basicAlertDisplay .alertBox .headerBox p {
    font-weight: 700;
}
.basicAlertDisplay .alertBox .headerBox input {
    margin: 0.5rem auto;
}
.btnSlider {
    padding: 0;
    border: 0;
    background-color: white;
    width: auto;
    cursor: pointer;
}
.btn {
    width: auto;
    padding: 0.5rem 1rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 1rem;
}
.btn:hover {
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3));
}
.add-button {
    background-color: green;
    color: white;
}
.delete-button {
    background-color: red;
    color: white;
}
.cancel-button {
    background-color: white;
    color: black;
}

.oneLine {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.oneLine:hover {
    cursor: pointer;
    background-color: grey;
}

nav {
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: white;
}

nav a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    line-height: 3rem;
    vertical-align: middle;
    font-weight: 600;
}
nav a:not(.router-link-active):hover {
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3));
}
.router-link-active {
    background-color: grey;
    color: floralwhite;
}
.basicCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h2 {
    display: block;
    text-align: center;
    width: 100%;
}
.choice label {
    display: flex;
    width: 80%;
    max-width: 400px;
    margin: 1rem auto;
    vertical-align: top;
}
.choice label span, .choice label select {
    display: block;
    width: 50%;
    height: 2rem;
    line-height: 2rem;
}
.choice label select {
    padding: 0 1rem;
}
.listRating {
    width: 100%;
    max-height: 20rem;
    overflow-y: scroll;
}
.inputRate input {
    display: block;
    width: 50%;
}
.slider {
    display: flex;
    justify-content: space-around;
}
.info {
    border-bottom: 1px solid black;
}
.infoCrit {
    text-decoration: underline;
    cursor: help;
}
@media only screen and (min-width: 900px) {
    html, body {
        font-size: 1.15rem;
    }
    html {
        background-image: linear-gradient(to left bottom,#b3d7ff 0,#b3ffec);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .container {
        width: 80%;
        max-width: 800px;
    }
    .list, .add, .headerList {
        width: 70%;
    }
    .basicDisplay {
        margin: 0 1rem;
        border-radius: 0 0 1rem 1rem;
    }
    nav {
        border-radius: 1rem 1rem 0 0;
        margin: 0 1rem;
    }
    nav a:first-child {
        border-radius: 1rem 0 0 0;
    }
    nav a:last-child {
        border-radius: 0 1rem 0 0;
    }
}
